<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <!-- 定义 Servlet -->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.youthvotesmatter.AdminServlet</servlet-class>
    </servlet>

    <!-- 配置 Servlet 映射 -->
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    
</web-app>
